<h1> Show page </h1>
<p><lable> SONG NAME : </lable><%= @song.title %></p>

<p><lable> ARTIST NAME : </lable><%= @song.artist.name %></p>

<p><lable> GENRE NAME : </lable><%= @song.genre.name %></p>

